/* Body Elements */

body {
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    line-height: 1;
    color: #4A9428;
}

h2,
h3,
p {
    margin-bottom: 1em;
}

h6 {
    font-size: smaller;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
    padding: .2rem;
    margin-bottom: -.2rem;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: #4A9428 !important;
    font-family: 'Bebas Neue', cursive;
}

a:hover { 
    -webkit-transform: scale(1.2); 
}

/* General CSS */

.aboutWrapper,
.contactWrapper {
    background-color: #4A9428;
    color: #ffffff;
    align-items: center;
    text-align: center;
    padding: 0;
}

.socialWrapper {
    padding: 1rem;
}

.contactHeader,
.aboutTitle {
    color: #ffffff;
}

.footerWrapper {
    text-align: center;
}

.socialTitle {
    text-align: center;
    margin-bottom: -1rem;
}

.mainTitle {
    align-items: center;
}

.aboutText {
    padding: 1rem;
}

.aboutImage {
    max-width: 90%;
    -webkit-transform: scaleX(-1);
    float: left;
}

.contactLabel {
    font-size: small;
    padding: .2rem;
    margin-bottom: .75rem;
}

.contactContainer {
    margin: 0 auto;
}


/* Media Screen Size Change */

/* Tablet */

@media (max-width: 1023px) {
    .landingContent {
        display: flex;
        max-width: min-content;
        padding: 1.5rem;
    }
    .mainTitle {
        display: flex;
    }
    .navMenu {
        border-top: 2px solid #4A9428;
    }
    .mainLogo {
        max-width: 90%;
    }
    .aboutTitle,
    .contactHeader {
        padding: .2rem;
        font-weight: 500;
    }
    .aboutImage {
        display: none;
    }
}

/* Laptop */

@media (min-width: 1024px) {
    .mainLogo {
        max-width: 30%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: inline-flex;
    }
    .mainTitle {
        max-width: fit-content;
        display: inline-flex;
        line-height: 1.5em;
        vertical-align: middle;
        font-size: 1.9em;
    }
    .nav-link {
        font-size: 1.5em;
        font-family: 'Bebas Neue', cursive;
    }
    .aboutTitle,
    .contactHeader {
        padding: .1rem;
        font-weight: 600;
        padding-top: 1rem;
    }
    .aboutText {
        font-size: 1.1em;
        margin-top: 1rem;
        padding: 1rem;
    }
    .socialTitle {
        padding: .1rem;
    }
    .contactHeader {
        padding: 1rem;
        padding-bottom: 0;
    }
}

/* Desktop */

@media (min-width: 1440px) {
    .mainLogo {
        max-width: 30%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: inline-flex;
    }
    .mainTitle {
        max-width: fit-content;
        display: inline-flex;
        line-height: 1.5em;
        vertical-align: middle;
        font-size: 3em;
    }
    .nav-link {
        font-size: 2.3em;
        font-family: 'Bebas Neue', cursive;
    }
    .aboutText {
        font-size: 1.5em;
        padding: 3rem 3rem 0;
    }
}